[Desktop Entry]
Name=wiki-tui2
Comment=A simple and easy to use Wikipedia Text User Interface
TryExec=wiki-tui2
Exec=wiki-tui2
Keywords=wikipedia;search;
Categories=Network
Icon=wiki-tui2
Type=Application
Terminal=true
